[MASTER]
init-hook='import sys; sys.path.append(".")'

[BASIC]
# Regular expression matching correct function names
function-naming-style=snake_case

# Regular expression matching correct variable names
variable-naming-style=snake_case

# Regular expression matching correct argument names
argument-naming-style=snake_case
